<nav id="sidebar">
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <hr/>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about-me/">About me</a></li>
    <li><a href="/trainings/">Trainings</a></li>
    <li><a href="/books/discovering-docker.html">Books</a></li>
  </ul>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  <div class="sidebar-promo">
    <a href="/books/discovering-docker.html">
      <img class="book-cover" src="/images/discovering-docker/book.png" alt="Discovering Docker" />
      <br />
      <p>Check-out my upcoming book <em>Discovering Docker</em>, available for pre-order at a special price!</p>
    </a>
  </div>
</nav>