<nav id="sidebar">
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <hr/>
  <ul id="menu">
    <li><a href="/">Things I say</a></li>
    <li><a href="/travels/">Places I go</a></li>
    <li><a href="/projects/">Things I make</a></li>
    <!-- <li><a href="/trainings/">Trainings</a></li> -->
    <li><a href="/books/discovering-docker.html">Things I write</a></li>
    <li><a href="/about.html">About me</a></li>
  </ul>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  <!--
  <div class="sidebar-promo">
    <a href="/books/discovering-docker.html">
      <img class="book-cover" src="/images/discovering-docker/book.png" alt="Discovering Docker" />
    </a>
  </div>
  -->
</nav>