html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
}

p, #post ol, #post li, #post blockquote p, #post code {
    font-size: 20px;
    line-height: 30px;
}

#post li {
    margin-bottom: 0;
}

#post li ul {
    margin-bottom: 0;
    margin-top: 0;
}

#post li p {
    margin: 0;
    line-height: inherit;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#social {
    text-align: center;
}

#logo {
    width: 100px;
    border-radius: 150px;
}

#sidebar {
    position: fixed;
    width: 220px;
}