html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
}

hr {
    margin: 30px 0 30px;
}

.post-global-note {
    font-style: italic;
    text-align: center;
}

p, #post ol, #post li, #post blockquote p, #post code {
    font-size: 20px;
    line-height: 30px;
}

#post li {
    margin-bottom: 0;
}

#post li ul {
    margin-bottom: 0;
    margin-top: 0;
}

#post li p {
    margin: 0;
    line-height: inherit;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#social {
    text-align: center;
}

#logo {
    width: 100px;
    border-radius: 150px;
}

#sidebar {
    position: fixed;
    width: 220px;
}

div.pre-order {
    text-align: center;
    margin: 30px 0 30px;
}

div.pre-order a.btn {
    font-size: 1.5em;
}

div.pre-order a {
    color: white !important;
}

/** buttons */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-success {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

/** focus */

.btn-success:hover, .btn-success:focus {
    background-color: #419641;
    background-position: 0 -45px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}

/** active */


.btn-success:active, .btn-success.active {
    background-color: #419641;
    border-color: #3e8f3e;
}

.btn:active, .btn.active {
    background-image: none;
}

.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#post pre code {
    display: block;
}

p img {
    width: 100%;
}

img.book-cover {
    float: right;
    margin-left: 2em;
    width: 30%;
}

p.align-justify {
    text-align: justify;
}