.sidebar {
    display: none;
}

.content {
    width: 90%;
    margin: 5% !important;
    padding: 5% !important;
}

span.mdash {
    display: none;
}

span.post-date {
    display: none;
}

#disqus_thread {
    display: none;
}

.post-global-note {
    display: none;
}