* {
    font-family: Georgia,Cambria,serif;
}

p, li, code {
    font-size: 2rem;
    line-height: 2em;
    margin: 1em 0 1em 0;
}

code {
    overflow: scroll;
}

ul {
    margin-left: 3em;
    list-style: disc;
}

a {
    color: blue;
}

a:hover {
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

#home h3 {
    font-weight: normal;
}

h1 {
    /*border-bottom: 1px solid whitesmoke;*/
    padding-bottom: .5em;
    margin-bottom: .5em;
}

ul#menu {
    display: none;
    list-style-type: none;
    /*position: fixed;*/
    /*top: 125px;*/
    margin: 50px 0 0 0;
}

.sidebar:hover ul#menu {
    display: block;
}

ul#menu li a {
    /*font-weight: bold;*/
    display: block;
    /*padding: .5em 1em;*/
    border-radius: 150px;
    text-align: center;
    text-decoration: none;
}

ul#menu li a:hover {
    /*background-color: whitesmoke;*/
}

.sidebar {
    background-color: #fff;
    height: 100vh;
    position: fixed;
    text-align: center;
    padding-top: 50px;
    /*border-right: 1px solid whitesmoke;*/
    /*box-shadow: 0px 5px 15px #888;*/
}

/*.sidebar #logo {
    border: 0px solid white;
    left: 100%;
    position: relative;
    top: 50px;
    margin-left: -85px;
}
*/

.sidebar #logo img {
    margin: auto;
    width: 150px;
    border-radius: 150px;
    border: 10px solid white;
    box-shadow: 0px 0px 15px #888;
}

.content {
    padding: 105px 0 0 0px;
    margin-left: 22%;
}

.disclaimer {
    border-top: 1px solid whitesmoke;
    padding: 2em;
    margin-top: 2em;
}

.content {
    width: 50rem;
}

#disqus_thread {
    margin-top: 3em;
}

div.post-global-note {
    text-align: center;
    overflow: auto;
    width: 60%;
    background-color: #efefef;
    padding: 2em 5em;
    border-radius: 15px;
    margin: 5em auto;
}

img.book-cover {
    float: left;
    margin-right: 1em;
    width: 150px;
}

img.book-cover.pull-right {
    float: right;
    margin: 0 0 0 1em;
}

img.book-cover.big {
    width: 300px;
}

img.book-cover.big.pull-right {
    margin: 2em;
}

div.pre-order {
    text-align: center;
}

div.pre-order a {
    font-size: 32px !important;
    padding: .5em !important;
    margin-top: 2em !important;
}

p img {
    width: 100%;
}

a small {
    font-size: 10px;
    display: block;
}

@media screen and (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6 {
        /*text-align: center;*/
        font-size: 2.5em;
    }

    .columns {
        width: 100% !important;
    }

    .sidebar {
        position: static;
        height: auto;
        background: transparent;
        margin: 2em 0 2em 0 !important;
        padding: 0 !important;
    }

    .content {
        padding: 0 !important;
        margin: 5% !important;
        width: 90% !important;
    }

    .sidebar:hover ul#menu {
        display: none;
    }
}