<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.data.theme.name }}" />
  <meta name="description" content="{{ site.data.theme.tagline }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />

  <link rel="stylesheet" href="/assets/css/all.css">
</head>
<body>
    <div class="three columns sidebar">
        {% include sidebar.html %}
    </div>

    <div class="eight columns content">
        {{ content }}

        <div class="footer">
            {% include footer.html %}
        </div>
    </div>

    {% include analytics.html %}
</body>
</html>
